<ng-container *ngTemplateOutlet="ref; context: {owner, vehicle}"></ng-container>

<ng-template #ref pdWidget [owner]="owner" [vehicle]="vehicle" let-p="owner" let-c="vehicle">
  <p>Owner: {{ owner.firstName + " " + owner.lastName }}</p>
  <p>Vehicle: {{ vehicle.model }}</p>
</ng-template>
