<div>
  <table>
    <thead>
    <tr>
      <ng-container
        *ngTemplateOutlet="tableHead()"
      ></ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data()">
      <ng-container
        *ngTemplateOutlet="tableRow(); context: { $implicit: row }"
      ></ng-container>
    </tr>
    </tbody>
  </table>
</div>
