<app-table [data]="persons">
  <ng-template appTableHead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
  </ng-template>

  <ng-template [appTableRow]="persons" let-row>
    <tr>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.age }}</td>
    </tr>
  </ng-template>
</app-table>

<hr/>

<app-list [data]="cars">
  <ng-template [pdList]="cars" let-car>
    <li>
      <div>
        <pre>{{ car.model }}</pre>
        <pre>{{ car.km() + 'km' }}</pre>
        <button [disabled]="car.isDriving" (click)="car.drive()">Drive</button>
        <button [disabled]="!car.isDriving" (click)="car.stop()">Stop Driving</button>
      </div>
    </li>
  </ng-template>
</app-list>

<hr/>

<app-list [data]="persons">
  <ng-template [pdList]="persons" let-person>
    <li>
      <div>
        <pre>{{ person.firstName + ' ' + person.lastName }}</pre>
        <pre>{{ person.age }}</pre>
      </div>
    </li>
  </ng-template>
</app-list>

<hr/>

<pd-widget/>
